<h2>商品一覧</h2>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>価格</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= number_to_currency(product.price, unit: "円", precision: 0) %></td>
        <td>
          <%= link_to 'カート追加', new_cart_item_path(product_id: product.id) %>
        </td>
        <td>
          <%= button_to '削除', product_path(product), method: :delete, data: { turbo_confirm: '本当に削除しますか？' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>